.u-section-1 .u-sheet-1 {
  min-height: 695px;
}

.u-section-1 .u-image-1 {
  width: 632px;
  height: 543px;
  object-position: 95.67% 50%;
  background-position: 95.67% 50%;
  margin: 55px 0 0 auto;
}

.u-section-1 .u-group-1 {
  width: 508px;
  min-height: 486px;
  margin: -485px auto 60px 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 60px 30px 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  line-height: 52.8px;
  letter-spacing: normal;
  font-family: Roboto, sans-serif;
  margin: 24px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 20px 0 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 30px 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    width: 692px;
    height: 577px;
  }

  .u-section-1 .u-group-1 {
    width: 419px;
    margin-top: -519px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 857px;
  }

  .u-section-1 .u-image-1 {
    height: 447px;
    margin-top: 360px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-1 {
    margin-top: -772px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 0 30px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 807px;
  }

  .u-section-1 .u-image-1 {
    height: 393px;
    width: 600px;
    margin-top: 380px;
    margin-left: -30px;
    margin-right: -30px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -718px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 757px;
  }

  .u-section-1 .u-image-1 {
    height: 299px;
    width: 416px;
    margin-top: 403px;
    margin-left: -38px;
    margin-right: -38px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -647px;
    margin-bottom: -191px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 850px;
}

.u-section-2 .u-shape-1 {
  background-image: none;
  height: 567px;
  width: 784px;
  margin: 108px 0 0 auto;
}

.u-section-2 .u-image-1 {
  width: 560px;
  min-height: 476px;
  background-image: url("images/a7d25ea5-f10e-d3df-2733-55a779ff398821.png");
  background-position: 50% 50%;
  margin: -394px auto 0 37px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-group-2 {
  width: 1025px;
  min-height: 438px;
  margin: 0 -465px 0 auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 40px 53px 63px;
}

.u-section-2 .u-text-1 {
  font-style: italic;
  font-size: 1.25rem;
  font-weight: 600;
  margin: 14px 0 0 14px;
}

.u-section-2 .u-image-2 {
  height: 311px;
  width: 640px;
  margin: -757px 72px 446px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-image-1 {
    width: 531px;
    min-height: 614px;
    margin-left: 72px;
  }

  .u-section-2 .u-group-2 {
    margin-top: -129px;
  }

  .u-section-2 .u-image-2 {
    height: 559px;
    width: 727px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1115px;
  }

  .u-section-2 .u-shape-1 {
    height: 479px;
    width: 582px;
  }

  .u-section-2 .u-group-2 {
    margin-top: -100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 30px;
  }

  .u-section-2 .u-image-2 {
    height: 530px;
    width: 606px;
    margin-right: 48px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1107px;
  }

  .u-section-2 .u-shape-1 {
    height: 378px;
    width: 454px;
  }

  .u-section-2 .u-image-1 {
    width: 505px;
    min-height: 545px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2 .u-group-2 {
    width: 480px;
    min-height: 413px;
    margin-top: 35px;
    margin-right: 0;
    margin-bottom: -56px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
  }

  .u-section-2 .u-image-2 {
    height: 455px;
    width: 476px;
    margin-right: auto;
    margin-left: 15px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 961px;
  }

  .u-section-2 .u-shape-1 {
    height: 257px;
    width: 305px;
    margin-right: auto;
    margin-left: 35px;
  }

  .u-section-2 .u-image-1 {
    width: 305px;
    min-height: 426px;
    margin-right: auto;
    margin-left: 35px;
  }

  .u-section-2 .u-group-2 {
    width: 305px;
    min-height: 446px;
    margin-top: 50px;
    margin-bottom: -88px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 27px;
    padding-bottom: 27px;
  }

  .u-section-2 .u-image-2 {
    height: 310px;
    width: 305px;
    margin-left: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 500px;
}

.u-section-3 .u-text-1 {
  margin-bottom: 0;
  font-weight: 700;
  font-size: 3.75rem;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 60px;
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 500px;
}

.u-section-4 .u-text-1 {
  margin-bottom: 0;
  font-weight: 700;
  font-size: 3.75rem;
}

.u-section-4 .u-text-2 {
  margin: 20px 0 60px;
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }
}